<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title></title>
</head>
<body id="body">
<header>
  <script src="/libs/canvas-nest.js" count="200" zindex="-2" opacity="0.8" color="47,135,193" type="text/javascript"></script>
</header>
<%-body %>
</body>
</html>
